<%- include('partials/header.ejs') %>

<section>
    <div class="container justify-content-center mt-5 blog-detail">
        <h1 class="text-center blog-title"><%= book.title %></h1>
        <p class="text-end blog-src my-4"><strong>By <%= book.author %></strong> %></p>
        <div class="content">
            <p> 
                <% let formattedContent = book.summary.replace(/“([^“]*)”/g, '<q>$1</q>'); %>
                <%- formattedContent.replace(/\n/g, '<br>') %>
            </p>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>